<html>
<body>
    <h3>Modelo Predictivo basado en el Dataset CSGO</h3>
    
    

<div>
  <form action="/result" method="POST">
    <label for="TimeAlive">Tiempo vivo en segundos: </label>
    <input type="text" id="TimeAlive" name="TimeAlive">
    <br>
    <label for="TraveledDistance">distancia recorrida: </label>
    <input type="text" id="TraveledDistance" name="TraveledDistance">
    <br>
    <label for="TeamStartingEquipmentValue">valor del equipamiento del equipo: </label>
    <input type="text" id="TeamStartingEquipmentValue" name="TeamStartingEquipmentValue">
    <br>
    <label for="MatchKills"> asesinatos por partida: </label>
    <input type="text" id="MatchKills" name="MatchKills">
    <br>
    <label for="MatchAssists"> asistencias por partida: </label>
    <input type="text" id="MatchAssists" name="MatchAssists">
    <br>
    <label for="MatchHeadshots"> tiros a la cabeza por partida: </label>
    <input type="text" id="MatchHeadshots" name="MatchHeadshots">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
